In [ ]:
"""
Web scrape for more info

1. speaker (birth year, place)
2. school

"""

In [1]:
from bs4 import BeautifulSoup
import requests
import time, os
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains

import pandas as pd
import numpy as np
import re
import pickle

# import sys
# sys.path.append('/Users/katiehuang/Documents/metis/projects/onl_ds5_project_2/py')
# from loadpage import *
# import importlib
# from fictiondb import *

%load_ext autoreload
%autoreload 2
import importlib
import sys
sys.path.append('/Users/katiehuang/Documents/metis/projects/onl_ds5_project_4/py')
from google import *

In [111]:
%run -i '../py/google.py'

## 1. Load data

In [3]:
speech_df = pd.read_pickle('../dump/speech_df')
speech_df

,speaker,year,school,transcript,length
0,SIDDHARTHA MUKHERJEE,2018,Univ. of Southern California,I wish someone had told me at my own commenc...,14487
1,JESMYN WARD,2018,Tulane University,Persist. Be patient. Be well. Good morning....,14063
2,DAVID SEDARIS,2018,OBERLIN COLLEGE,"Thank you so much for having me, and for prese...",10587
3,NIGHT SHYAMALAN,2018,DREXEL UNIVERSITY,\nwhat's up dragons alright let's start\n\nwit...,26406
4,TERRY TEACHOUT,2018,HAMILTON HOLT SCHOOL,"I’m supposed to keep it short, and I approve o...",6288
...,...,...,...,...,...
436,WILLIAM ALLEN,1936,WHITE NORTHWESTERN UNIVERSITY,About all that a commencement orator can do fo...,14953
437,FRANKLIN D ROOSEVELT,1932,OGLETHORPE UNIVERSITY,"For me, as for you, this is a day of honorable...",16017
438,OPRAH WINFREY,1918,USC,Thank you Wallis Annenberg and a special thank...,15301
439,RALPH WALDO,1838,EMERSON HARVARD UNIVERSITY,"In this refulgent summer, it has been a luxury...",40403
440,GARRISON KEILLOR,0,,\n It's an honor to be with so many smart peo...,8063

## 2. Speaker info from Google
Scrape with Selenium

In [4]:
# Create list of speakers
speaker_list = list(speech_df.speaker)
len(speaker_list)

441

In [ ]:
# def google_speaker(speaker):
    
#     keyword = speaker
#     speaker_dict={}
#     headers = ["speaker","profession","birth","born","age","origin"]

#     # Selenium begins
#     driver.get("https://www.google.com")
#     search_bar = driver.find_element_by_xpath("//input[@name='q'][@type='text']")
#     search_bar.clear()
#     search_bar.send_keys(keyword)
#     #     print(speaker)
#     search_bar.send_keys(Keys.RETURN)
#     time.sleep(2)

#     # Set default value of result
#     profession, birth, born, age, origin = np.nan, np.nan, np.nan, np.nan, np.nan

#     # Find profession
#     try:
#         profession = driver.find_element_by_xpath("//div[@data-attrid='subtitle']").text
#     except:
#         pass

#     if profession is np.nan:
#         try:
#             description = driver.find_element_by_xpath("//div[@data-attrid='description']").text
#             profession = re.findall("(?<=was )(.*)(?= who)", description)[0]
#         except:
#             pass

#     # Find birth info    
#     try:
#         birth = driver.find_element_by_xpath("//div[@class='rVusze']").text
#     except:
#         pass

#     # Extract age and birth blace from birth info
#     # Age
#     try:
#         age = re.findall("age \d+", birth)[0].split(' ')[-1]
#     except:
#         pass

#     # Year born
#     try:
#         born = re.findall("Born: .* \d+", birth)[0].split(', ')[-1]
#     except:
#         pass

#     # Birth place
#     try:
#         origin = " ".join(birth.split(', ')[-2:])
#     except:
#         pass

#     speak_dict = dict(zip(headers,
#                 [speaker,profession,birth,born,age,origin]))

#     return speak_dict

In [159]:
chromedriver = "/Applications/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver

# Open automated Chrome with fictionDB webpage
driver = webdriver.Chrome(chromedriver)

In [160]:
google_speaker("JAMES RYAN")

{'speaker': 'JAMES RYAN',
 'profession': 'South African actor',
 'birth': 'Born: October 18, 1952 (age 68 years), South Africa',
 'born': '1952 (age 68',
 'age': '68',
 'origin': '1952 (age 68 years) South Africa'}

In [5]:
# # Scrape
# results_speaker = []
# for speaker in speaker_list:
#     result = google_speaker(speaker)
#     results_speaker.append(result)

In [6]:
results_speaker

[{'speaker': 'SIDDHARTHA MUKHERJEE',
  'profession': 'American-Indian physician',
  'birth': 'Born: July 21, 1970 (age 50 years), New Delhi, India',
  'born': '1970 (age 50',
  'age': '50',
  'origin': 'New Delhi India'},
 {'speaker': 'JESMYN WARD',
  'profession': 'American novelist',
  'birth': 'Born: April 1, 1977 (age 43 years), De Lisle, MS',
  'born': '1977 (age 43',
  'age': '43',
  'origin': 'De Lisle MS'},
 {'speaker': 'DAVID SEDARIS',
  'profession': 'American humorist',
  'birth': 'Born: December 26, 1956 (age 64 years), Johnson City, NY',
  'born': '1956 (age 64',
  'age': '64',
  'origin': 'Johnson City NY'},
 {'speaker': 'NIGHT SHYAMALAN',
  'profession': 'American-Indian filmmaker',
  'birth': 'Born: August 6, 1970 (age 50 years), Mahé, India',
  'born': '1970 (age 50',
  'age': '50',
  'origin': 'Mahé India'},
 {'speaker': 'TERRY TEACHOUT',
  'profession': 'American author',
  'birth': 'Born: February 6, 1956 (age 65 years), Cape Girardeau, MO',
  'born': '1956 (age 65',
  'age': '65',
  'origin': 'Cape Girardeau MO'},
 {'speaker': 'ABBY WAMBACK',
  'profession': 'American soccer player',
  'birth': 'Born: June 2, 1980 (age 40 years), Rochester, NY',
  'born': '1980 (age 40',
  'age': '40',
  'origin': 'Rochester NY'},
 {'speaker': 'MINDY KALING',
  'profession': 'American actress',
  'birth': 'Born: June 24, 1979 (age 41 years), Cambridge, MA',
  'born': '1979 (age 41',
  'age': '41',
  'origin': 'Cambridge MA'},
 {'speaker': 'JON B. FISHER',
  'profession': 'Entrepreneur',
  'birth': 'Born: January 19, 1972 (age 49 years), Stanford, CA',
  'born': '1972 (age 49',
  'age': '49',
  'origin': 'Stanford CA'},
 {'speaker': 'THEO EPSTEIN',
  'profession': 'American executive',
  'birth': 'Born: December 29, 1973 (age 47 years), New York, NY',
  'born': '1973 (age 47',
  'age': '47',
  'origin': 'New York NY'},
 {'speaker': 'HOWARD SCHULTZ',
  'profession': 'American businessman',
  'birth': 'Born: July 19, 1953 (age 67 years), Brooklyn, New York, NY',
  'born': '1953 (age 67',
  'age': '67',
  'origin': 'New York NY'},
 {'speaker': 'KELLY MCMASTERS',
  'profession': nan,
  'birth': 'Books: Welcome to Shirley: A Memoir from an Atomic Town',
  'born': nan,
  'age': nan,
  'origin': 'Books: Welcome to Shirley: A Memoir from an Atomic Town'},
 {'speaker': 'HELEN MIRREN',
  'profession': 'Actor',
  'birth': 'Born: July 26, 1945 (age 75 years), Chiswick, London, United Kingdom',
  'born': '1945 (age 75',
  'age': '75',
  'origin': 'London United Kingdom'},
 {'speaker': 'STEVEN LEVITAN',
  'profession': 'American director',
  'birth': 'Born: April 6, 1962 (age 58 years), Chicago, IL',
  'born': '1962 (age 58',
  'age': '58',
  'origin': 'Chicago IL'},
 {'speaker': 'WILL FERRELL',
  'profession': 'American actor',
  'birth': 'Born: July 16, 1967 (age 53 years), Irvine, CA',
  'born': '1967 (age 53',
  'age': '53',
  'origin': 'Irvine CA'},
 {'speaker': 'MARK ZUCKERBERG',
  'profession': 'Chief Executive Officer of Facebook',
  'birth': 'Born: May 14, 1984 (age 36 years), White Plains, NY',
  'born': '1984 (age 36',
  'age': '36',
  'origin': 'White Plains NY'},
 {'speaker': 'ANNA QUINDLEN',
  'profession': 'American author',
  'birth': 'Born: July 8, 1953 (age 67 years), Philadelphia, PA',
  'born': '1953 (age 67',
  'age': '67',
  'origin': 'Philadelphia PA'},
 {'speaker': 'CHIMAMANDA NGOZI ADICHIE',
  'profession': 'Writer',
  'birth': 'Born: September 15, 1977 (age 43 years), Enugu, Nigeria',
  'born': '1977 (age 43',
  'age': '43',
  'origin': 'Enugu Nigeria'},
 {'speaker': 'COLSON WHITEHEAD',
  'profession': 'American novelist',
  'birth': 'Born: November 6, 1969 (age 51 years), New York, NY',
  'born': '1969 (age 51',
  'age': '51',
  'origin': 'New York NY'},
 {'speaker': 'OPRAH WINFREY',
  'profession': 'American host',
  'birth': 'Born: January 29, 1954 (age 67 years), Kosciusko, MS',
  'born': '1954 (age 67',
  'age': '67',
  'origin': 'Kosciusko MS'},
 {'speaker': 'MARIA BAMFORD',
  'profession': 'American stand-up comedian',
  'birth': 'Born: September 3, 1970 (age 50 years), Port Hueneme, CA',
  'born': '1970 (age 50',
  'age': '50',
  'origin': 'Port Hueneme CA'},
 {'speaker': 'SHERYL SANDBERG',
  'profession': 'Chief Operating Officer of Facebook',
  'birth': 'Born: August 28, 1969 (age 51 years), Washington, D.C.',
  'born': '1969 (age 51',
  'age': '51',
  'origin': 'Washington D.C.'},
 {'speaker': 'OCTAVIA SPENCER',
  'profession': 'American actress',
  'birth': 'Born: May 25, 1970 (age 50 years), Montgomery, AL',
  'born': '1970 (age 50',
  'age': '50',
  'origin': 'Montgomery AL'},
 {'speaker': 'KUMAIL NANJIANI',
  'profession': 'American-Pakistani comedian',
  'birth': 'Born: February 21, 1978 (age 42 years), Karachi, Pakistan',
  'born': '1978 (age 42',
  'age': '42',
  'origin': 'Karachi Pakistan'},
 {'speaker': 'MAZ JOBRANI',
  'profession': 'American-Iranian comedian',
  'birth': 'Born: February 26, 1972 (age 48 years), Tehran, Iran',
  'born': '1972 (age 48',
  'age': '48',
  'origin': 'Tehran Iran'},
 {'speaker': 'GARRY TRUDEAU',
  'profession': 'American cartoonist',
  'birth': 'Born: July 21, 1948 (age 72 years), New York, NY',
  'born': '1948 (age 72',
  'age': '72',
  'origin': 'New York NY'},
 {'speaker': 'JOHN MALKOVICH',
  'profession': 'American actor',
  'birth': 'Born: December 9, 1953 (age 67 years), Christopher, IL',
  'born': '1953 (age 67',
  'age': '67',
  'origin': 'Christopher IL'},
 {'speaker': 'DAVID BROWN',
  'profession': 'Superintendent of the Chicago Police Department',
  'birth': 'Born: September 18, 1960 (age 60 years), Oak Cliff, TX',
  'born': '1960 (age 60',
  'age': '60',
  'origin': 'Oak Cliff TX'},
 {'speaker': 'JOSE B. GONZALEZ',
  'profession': 'Poet',
  'birth': 'Born: 1967 (age 54 years), San Salvador, El Salvador',
  'born': 'Born: 1967 (age 54',
  'age': '54',
  'origin': 'San Salvador El Salvador'},
 {'speaker': 'KENNETH KOSIK',
  'profession': 'Neurologist',
  'birth': 'h-index: 107',
  'born': nan,
  'age': nan,
  'origin': 'h-index: 107'},
 {'speaker': 'JAMES RYAN',
  'profession': nan,
  'birth': nan,
  'born': nan,
  'age': nan,
  'origin': nan},
 {'speaker': 'MIKE KRZYZEWSKI',
  'profession': 'Basketball coach',
  'birth': 'Born: February 13, 1947 (age 74 years), Chicago, IL',
  'born': '1947 (age 74',
  'age': '74',
  'origin': 'Chicago IL'},
 {'speaker': 'RUSSELL WILSON',
  'profession': 'Football quarterback',
  'birth': 'Born: November 29, 1988 (age 32 years), Cincinnati, OH',
  'born': '1988 (age 32',
  'age': '32',
  'origin': 'Cincinnati OH'},
 {'speaker': 'SHERYL SANDBERG',
  'profession': 'Chief Operating Officer of Facebook',
  'birth': 'Born: August 28, 1969 (age 51 years), Washington, D.C.',
  'born': '1969 (age 51',
  'age': '51',
  'origin': 'Washington D.C.'},
 {'speaker': 'STEVEN SPIELBERG',
  'profession': 'American film director',
  'birth': 'Born: December 18, 1946 (age 74 years), Cincinnati, OH',
  'born': '1946 (age 74',
  'age': '74',
  'origin': 'Cincinnati OH'},
 {'speaker': 'LIN-MANUEL MIRANDA',
  'profession': 'American actor',
  'birth': 'Born: January 16, 1980 (age 41 years), Washington Heights, New York, NY',
  'born': '1980 (age 41',
  'age': '41',
  'origin': 'New York NY'},
 {'speaker': 'JOHN GREEN',
  'profession': 'American author',
  'birth': 'Born: August 24, 1977 (age 43 years), Indianapolis, IN',
  'born': '1977 (age 43',
  'age': '43',
  'origin': 'Indianapolis IN'},
 {'speaker': 'HANK AZARIA',
  'profession': 'American actor',
  'birth': 'Born: April 25, 1964 (age 56 years), Forest Hills, New York, NY',
  'born': '1964 (age 56',
  'age': '56',
  'origin': 'New York NY'},
 {'speaker': 'RITA DOVE',
  'profession': 'American poet',
  'birth': 'Born: August 28, 1952 (age 68 years), Akron, OH',
  'born': '1952 (age 68',
  'age': '68',
  'origin': 'Akron OH'},
 {'speaker': 'WILLIAM FOEGE',
  'profession': 'American author',
  'birth': 'Born: March 12, 1936 (age 84 years), Decorah, IA',
  'born': '1936 (age 84',
  'age': '84',
  'origin': 'Decorah IA'},
 {'speaker': 'DONOVAN LIVINGSTON',
  'profession': nan,
  'birth': 'Books: Lift Off: From the Classroom to the Stars',
  'born': nan,
  'age': nan,
  'origin': 'Books: Lift Off: From the Classroom to the Stars'},
 {'speaker': 'MARIA POPOVA',
  'profession': 'Bulgarian writer',
  'birth': 'Born: 1985 (age 36 years), Bulgaria',
  'born': 'Born: 1985 (age 36',
  'age': '36',
  'origin': 'Born: 1985 (age 36 years) Bulgaria'},
 {'speaker': 'ELIZABETH WARREN',
  'profession': 'United States Senator',
  'birth': 'Born: June 22, 1949 (age 71 years), Oklahoma City, OK',
  'born': '1949 (age 71',
  'age': '71',
  'origin': 'Oklahoma City OK'},
 {'speaker': 'NEIL DEGRASSE',
  'profession': 'American astrophysicist',
  'birth': 'Born: October 5, 1958 (age 62 years), Manhattan, New York, NY',
  'born': '1958 (age 62',
  'age': '62',
  'origin': 'New York NY'},
 {'speaker': 'JIMMY BUFFETT',
  'profession': 'American singer-songwriter',
  'birth': 'Born: December 25, 1946 (age 74 years), Pascagoula, MS',
  'born': '1946 (age 74',
  'age': '74',
  'origin': 'Pascagoula MS'},
 {'speaker': 'RON SUSKIND',
  'profession': 'American journalist',
  'birth': 'Born: November 20, 1959 (age 61 years), Kingston, NY',
  'born': '1959 (age 61',
  'age': '61',
  'origin': 'Kingston NY'},
 {'speaker': 'DAVID BROOKS',
  'profession': 'Commentator',
  'birth': 'Born: August 11, 1961 (age 59 years), Toronto, Canada',
  'born': '1961 (age 59',
  'age': '59',
  'origin': 'Toronto Canada'},
 {'speaker': 'ED HELMS',
  'profession': 'American actor',
  'birth': 'Born: January 24, 1974 (age 47 years), Atlanta, GA',
  'born': '1974 (age 47',
  'age': '47',
  'origin': 'Atlanta GA'},
 {'speaker': 'ARIANNA HUFFINGTON',
  'profession': 'American-Greek author',
  'birth': 'Born: July 15, 1950 (age 70 years), Athens, Greece',
  'born': '1950 (age 70',
  'age': '70',
  'origin': 'Athens Greece'},
 {'speaker': 'MARY KARR',
  'profession': 'American poet',
  'birth': 'Born: January 16, 1955 (age 66 years), Groves, TX',
  'born': '1955 (age 66',
  'age': '66',
  'origin': 'Groves TX'},
 {'speaker': 'ARI WEINZWEIG',
  'profession': 'Businessperson',
  'birth': 'Born: 1956 (age 65 years)',
  'born': 'Born: 1956 (age 65',
  'age': '65',
  'origin': 'Born: 1956 (age 65 years)'},
 {'speaker': 'CHIMAMANDA NGOZI',
  'profession': 'Writer',
  'birth': 'Born: September 15, 1977 (age 43 years), Enugu, Nigeria',
  'born': '1977 (age 43',
  'age': '43',
  'origin': 'Enugu Nigeria'},
 {'speaker': 'BERNARD HARRIS',
  'profession': 'Astronaut',
  'birth': 'Born: June 26, 1956 (age 64 years), Temple, TX',
  'born': '1956 (age 64',
  'age': '64',
  'origin': 'Temple TX'},
 {'speaker': 'CHIMAMANDA NGOZI ADICHIE',
  'profession': 'Writer',
  'birth': 'Born: September 15, 1977 (age 43 years), Enugu, Nigeria',
  'born': '1977 (age 43',
  'age': '43',
  'origin': 'Enugu Nigeria'},
 {'speaker': 'DENZEL WASHINGTON',
  'profession': 'American actor',
  'birth': 'Born: December 28, 1954 (age 66 years), Mount Vernon, NY',
  'born': '1954 (age 66',
  'age': '66',
  'origin': 'Mount Vernon NY'},
 {'speaker': 'ROBERT DE NIRO',
  'profession': 'Actor',
  'birth': 'Born: August 17, 1943 (age 77 years), Greenwich Village, New York, NY',
  'born': '1943 (age 77',
  'age': '77',
  'origin': 'New York NY'},
 {'speaker': 'JACK BLACK',
  'profession': 'American actor',
  'birth': 'Born: August 28, 1969 (age 51 years), Santa Monica, CA',
  'born': '1969 (age 51',
  'age': '51',
  'origin': 'Santa Monica CA'},
 {'speaker': 'JOHN SEELY',
  'profession': 'Researcher',
  'birth': 'Born: 1940 (age 81 years), Utica, NY',
  'born': 'Born: 1940 (age 81',
  'age': '81',
  'origin': 'Utica NY'},
 {'speaker': 'STEPHEN COLBERT',
  'profession': 'American comedian',
  'birth': 'Born: May 13, 1964 (age 56 years), Washington, D.C.',
  'born': '1964 (age 56',
  'age': '56',
  'origin': 'Washington D.C.'},
 {'speaker': 'JASON KILAR',
  'profession': 'CEO of Time Warner',
  'birth': 'Born: April 26, 1971 (age 49 years), Pittsburgh, PA',
  'born': '1971 (age 49',
  'age': '49',
  'origin': 'Pittsburgh PA'},
 {'speaker': 'GLORIA STEINEM',
  'profession': 'American journalist',
  'birth': 'Born: March 25, 1934 (age 86 years), Toledo, OH',
  'born': '1934 (age 86',
  'age': '86',
  'origin': 'Toledo OH'},
 {'speaker': 'MATTHEW MCCONAUGHEY',
  'profession': 'American actor',
  'birth': 'Born: November 4, 1969 (age 51 years), Uvalde, TX',
  'born': '1969 (age 51',
  'age': '51',
  'origin': 'Uvalde TX'},
 {'speaker': 'JON BON JOVI',
  'profession': 'American singer-songwriter',
  'birth': 'Born: March 2, 1962 (age 58 years), Perth Amboy, NJ',
  'born': '1962 (age 58',
  'age': '58',
  'origin': 'Perth Amboy NJ'},
 {'speaker': 'CODY KEENAN',
  'profession': 'Former White House Director of Speechwriting',
  'birth': 'Born: Chicago, IL',
  'born': nan,
  'age': nan,
  'origin': 'Born: Chicago IL'},
 {'speaker': 'NATALIE PORTMAN',
  'profession': 'American-Israeli actress',
  'birth': 'Born: June 9, 1981 (age 39 years), Jerusalem',
  'born': '1981 (age 39',
  'age': '39',
  'origin': '1981 (age 39 years) Jerusalem'},
 {'speaker': 'PETER HOLLENS',
  'profession': 'American singer-songwriter',
  'birth': 'Born: March 4, 1982 (age 38 years), Eugene, OR',
  'born': '1982 (age 38',
  'age': '38',
  'origin': 'Eugene OR'},
 {'speaker': 'MAYA RUDOLPH',
  'profession': 'American actress',
  'birth': 'Born: July 27, 1972 (age 48 years), Gainesville, FL',
  'born': '1972 (age 48',
  'age': '48',
  'origin': 'Gainesville FL'},
 {'speaker': 'BROOKE SHIELDS',
  'profession': 'American actress',
  'birth': 'Born: May 31, 1965 (age 55 years), Manhattan, New York, NY',
  'born': '1965 (age 55',
  'age': '55',
  'origin': 'New York NY'},
 {'speaker': 'IAN BRENNAN',
  'profession': 'American screenwriter',
  'birth': 'Born: 1978 (age 43 years), Mount Prospect, IL',
  'born': 'Born: 1978 (age 43',
  'age': '43',
  'origin': 'Mount Prospect IL'},
 {'speaker': 'DIANA NYAD',
  'profession': 'American author',
  'birth': 'Born: August 22, 1949 (age 71 years), New York, NY',
  'born': '1949 (age 71',
  'age': '71',
  'origin': 'New York NY'},
 {'speaker': 'JOHN LEGEND',
  'profession': 'American singer-songwriter',
  'birth': 'Born: December 28, 1978 (age 42 years), Springfield, OH',
  'born': '1978 (age 42',
  'age': '42',
  'origin': 'Springfield OH'},
 {'speaker': 'MINDY KALING',
  'profession': 'American actress',
  'birth': 'Born: June 24, 1979 (age 41 years), Cambridge, MA',
  'born': '1979 (age 41',
  'age': '41',
  'origin': 'Cambridge MA'},
 {'speaker': 'CHARLIE DAY',
  'profession': 'American actor',
  'birth': 'Born: February 9, 1976 (age 45 years), New York, NY',
  'born': '1976 (age 45',
  'age': '45',
  'origin': 'New York NY'},
 {'speaker': 'JOYCE DIDONATO',
  'profession': 'American mezzo-soprano',
  'birth': 'Born: February 13, 1969 (age 52 years), Prairie Village, KS',
  'born': '1969 (age 52',
  'age': '52',
  'origin': 'Prairie Village KS'},
 {'speaker': 'TERRY GROSS',
  'profession': 'Co-producer',
  'birth': 'Born: February 14, 1951 (age 70 years), Brooklyn, New York, NY',
  'born': '1951 (age 70',
  'age': '70',
  'origin': 'New York NY'},
 {'speaker': 'JIM CARREY',
  'profession': 'American-Canadian actor',
  'birth': 'Born: January 17, 1962 (age 59 years), Newmarket, Canada',
  'born': '1962 (age 59',
  'age': '59',
  'origin': 'Newmarket Canada'},
 {'speaker': 'JENNIFER LEE',
  'profession': 'Chief creative officer of Walt Disney Animation Studios',
  'birth': 'Born: October 22, 1971 (age 49 years), East Providence, RI',
  'born': '1971 (age 49',
  'age': '49',
  'origin': 'East Providence RI'},
 {'speaker': 'MICHELLE OBAMA',
  'profession': 'Former First Lady of the United States',
  'birth': 'Born: January 17, 1964 (age 57 years), Chicago, IL',
  'born': '1964 (age 57',
  'age': '57',
  'origin': 'Chicago IL'},
 {'speaker': 'DAVID CARR',
  'profession': 'Football quarterback',
  'birth': 'Born: July 21, 1979 (age 41 years), Bakersfield, CA',
  'born': '1979 (age 41',
  'age': '41',
  'origin': 'Bakersfield CA'},
 {'speaker': 'SHERYL SANDBERG',
  'profession': 'Chief Operating Officer of Facebook',
  'birth': 'Born: August 28, 1969 (age 51 years), Washington, D.C.',
  'born': '1969 (age 51',
  'age': '51',
  'origin': 'Washington D.C.'},
 {'speaker': 'MARY BARRA',
  'profession': 'CEO of General Motors',
  'birth': 'Born: December 24, 1961 (age 59 years), Waterford, MI',
  'born': '1961 (age 59',
  'age': '59',
  'origin': 'Waterford MI'},
 {'speaker': 'ALEXIS OHANIAN',
  'profession': 'American internet entrepreneur',
  'birth': 'Born: April 24, 1983 (age 37 years), Brooklyn, New York, NY',
  'born': '1983 (age 37',
  'age': '37',
  'origin': 'New York NY'},
 {'speaker': 'JILL ABRAMSON',
  'profession': 'American author',
  'birth': 'Born: March 19, 1954 (age 66 years), New York, NY',
  'born': '1954 (age 66',
  'age': '66',
  'origin': 'New York NY'},
 {'speaker': 'TORY BURCH',
  'profession': 'Fashion company',
  'birth': 'Founder: Tory Burch',
  'born': nan,
  'age': nan,
  'origin': 'Founder: Tory Burch'},
 {'speaker': 'MARY CARRILLO',
  'profession': 'Sportscaster',
  'birth': 'Born: March 15, 1957 (age 63 years), Queens, New York, NY',
  'born': '1957 (age 63',
  'age': '63',
  'origin': 'New York NY'},
 {'speaker': 'JANET YELLEN',
  'profession': 'United States Secretary of the Treasury',
  'birth': 'Born: August 13, 1946 (age 74 years), Brooklyn, New York, NY',
  'born': '1946 (age 74',
  'age': '74',
  'origin': 'New York NY'},
 {'speaker': 'ANNE MARIE',
  'profession': 'Singer-songwriter',
  'birth': 'Born: April 7, 1991 (age 29 years), East Tilbury, United Kingdom',
  'born': '1991 (age 29',
  'age': '29',
  'origin': 'East Tilbury United Kingdom'},
 {'speaker': 'EMIR KAMENICA',
  'profession': nan,
  'birth': 'h-index: 25',
  'born': nan,
  'age': nan,
  'origin': 'h-index: 25'},
 {'speaker': 'VICTOR HWANG',
  'profession': nan,
  'birth': 'Born: May 27, 1971 (age 49 years)',
  'born': '1971 (age 49',
  'age': '49',
  'origin': 'Born: May 27 1971 (age 49 years)'},
 {'speaker': 'ALEX SMITH',
  'profession': 'Football quarterback',
  'birth': 'Born: May 7, 1984 (age 36 years), Bremerton, WA',
  'born': '1984 (age 36',
  'age': '36',
  'origin': 'Bremerton WA'},
 {'speaker': 'ZADIE SMITH',
  'profession': 'Novelist',
  'birth': 'Born: October 25, 1975 (age 45 years), London Borough of Brent, United Kingdom',
  'born': '1975 (age 45',
  'age': '45',
  'origin': 'London Borough of Brent United Kingdom'},
 {'speaker': 'BILL & MELINDA GATES',
  'profession': nan,
  'birth': 'Headquarters: Seattle, WA',
  'born': nan,
  'age': nan,
  'origin': 'Headquarters: Seattle WA'},
 {'speaker': 'ZOKETSU NORMAN FISCHER',
  'profession': 'American poet',
  'birth': 'Born: 1946 (age 75 years), Wilkes-Barre, PA',
  'born': 'Born: 1946 (age 75',
  'age': '75',
  'origin': 'Wilkes-Barre PA'},
 {'speaker': 'MARY CARILLO',
  'profession': 'Sportscaster',
  'birth': 'Born: March 15, 1957 (age 63 years), Queens, New York, NY',
  'born': '1957 (age 63',
  'age': '63',
  'origin': 'New York NY'},
 {'speaker': 'ADM. MCRAVEN',
  'profession': 'Admiral',
  'birth': 'Born: November 6, 1955 (age 65 years), Pinehurst, NC',
  'born': '1955 (age 65',
  'age': '65',
  'origin': 'Pinehurst NC'},
 {'speaker': 'SHONDA RHIMES',
  'profession': 'American television producer',
  'birth': 'Born: January 13, 1970 (age 51 years), Chicago, IL',
  'born': '1970 (age 51',
  'age': '51',
  'origin': 'Chicago IL'},
 {'speaker': 'SANDRA BULLOCK',
  'profession': 'American actress',
  'birth': 'Born: July 26, 1964 (age 56 years), Arlington County, VA',
  'born': '1964 (age 56',
  'age': '56',
  'origin': 'Arlington County VA'},
 {'speaker': 'JOHN F KERRY',
  'profession': 'U.S. Special Presidential Envoy for Climate',
  'birth': 'Born: December 11, 1943 (age 77 years), Fitzsimons Army Medical Center, Aurora, CO',
  'born': '1943 (age 77',
  'age': '77',
  'origin': 'Aurora CO'},
 {'speaker': 'ATUL GAWANDE',

In [7]:
# Pickle scrape results
import pickle

with open('../dump/speaker_info_list.pkl', 'wb') as f:
    pickle.dump(results_speaker, f)

In [183]:
# Create DataFrame of speaker_info
speaker_info = pd.DataFrame(results_speaker)
speaker_info

                  speaker                 profession  ...  age             origin
0    SIDDHARTHA MUKHERJEE  American-Indian physician  ...   50    New Delhi India
1             JESMYN WARD          American novelist  ...   43        De Lisle MS
2           DAVID SEDARIS          American humorist  ...   64    Johnson City NY
3         NIGHT SHYAMALAN  American-Indian filmmaker  ...   50         Mahé India
4          TERRY TEACHOUT            American author  ...   65  Cape Girardeau MO
..                    ...                        ...  ...  ...                ...
436         WILLIAM ALLEN                   Attorney  ...  NaN    Philadelphia PA
437  FRANKLIN D ROOSEVELT        32nd U.S. President  ...  NaN       Hyde Park NY
438         OPRAH WINFREY              American host  ...   67       Kosciusko MS
439           RALPH WALDO          American essayist  ...  NaN          Boston MA
440      GARRISON KEILLOR            American author  ...   78           Anoka MN

[441 rows x 6 columns]

In [184]:
# Clean up the born column
speaker_info['born'] = speaker_info['born'].apply(str).apply(lambda x: x.split(' ')[0])
speaker_info.drop(columns=['birth'],inplace=True)
speaker_info

                  speaker                 profession  ...  age             origin
0    SIDDHARTHA MUKHERJEE  American-Indian physician  ...   50    New Delhi India
1             JESMYN WARD          American novelist  ...   43        De Lisle MS
2           DAVID SEDARIS          American humorist  ...   64    Johnson City NY
3         NIGHT SHYAMALAN  American-Indian filmmaker  ...   50         Mahé India
4          TERRY TEACHOUT            American author  ...   65  Cape Girardeau MO
..                    ...                        ...  ...  ...                ...
436         WILLIAM ALLEN                   Attorney  ...  NaN    Philadelphia PA
437  FRANKLIN D ROOSEVELT        32nd U.S. President  ...  NaN       Hyde Park NY
438         OPRAH WINFREY              American host  ...   67       Kosciusko MS
439           RALPH WALDO          American essayist  ...  NaN          Boston MA
440      GARRISON KEILLOR            American author  ...   78           Anoka MN

[441 rows x 5 columns]

In [10]:
# Pickle
speaker_info.to_pickle('../dump/speaker_info')

In [185]:
# Check duplicates
speaker_info[speaker_info.duplicated(['speaker'])==True]

                      speaker  ...                             origin
32            SHERYL SANDBERG  ...                    Washington D.C.
52   CHIMAMANDA NGOZI ADICHIE  ...                      Enugu Nigeria
70               MINDY KALING  ...                       Cambridge MA
78            SHERYL SANDBERG  ...                    Washington D.C.
99                   ED HELMS  ...                         Atlanta GA
104           STEPHEN COLBERT  ...                    Washington D.C.
105                  ED HELMS  ...                         Atlanta GA
113             NEIL DEGRASSE  ...                        New York NY
114              DAVID BROOKS  ...                     Toronto Canada
118                JOHN GREEN  ...                    Indianapolis IN
121        ARIANNA HUFFINGTON  ...                      Athens Greece
154              ATUL GAWANDE  ...                        New York NY
169           STEPHEN COLBERT  ...                    Washington D.C.
170           SHERYL SANDBERG  ...                    Washington D.C.
172        ARIANNA HUFFINGTON  ...                      Athens Greece
173         DENZEL WASHINGTON  ...                    Mount Vernon NY
174              BEN BERNANKE  ...                         Augusta GA
187            MICHELLE OBAMA  ...                         Chicago IL
189            TERRY TEACHOUT  ...                  Cape Girardeau MO
192               JOHN LEGEND  ...                     Springfield OH
196              DAVID BROOKS  ...                     Toronto Canada
211            KIRK SCHNEIDER  ...  Born: July 27 1956 (age 64 years)
212                WADE DAVIS  ...                      Lake Wales FL
232              JIMMY IOVINE  ...                        New York NY
247              BARACK OBAMA  ...                        Honolulu HI
262               JOHN MACKEY  ...                         Houston TX
274           ANGELA AHRENDTS  ...                   New Palestine IN
278             OPRAH WINFREY  ...                       Kosciusko MS
290              DAVID BROOKS  ...                     Toronto Canada
350              WILL FERRELL  ...                          Irvine CA
356           WYNTON MARSALIS  ...                     New Orleans LA
366             ANNA QUINDLEN  ...                    Philadelphia PA
379        MADELEINE ALBRIGHT  ...                     Prague Czechia
407            GLORIA STEINEM  ...                          Toledo OH
408               WOODY HAYES  ...                         Clifton OH
411              SUSAN SONTAG  ...                        New York NY
414              MERYL STREEP  ...                          Summit NJ
424             KURT VONNEGUT  ...                    Indianapolis IN
430            JOHN F KENNEDY  ...                       Brookline MA
438             OPRAH WINFREY  ...                       Kosciusko MS

[40 rows x 5 columns]

### Check weird info

#### A. Missing profession

In [186]:
speaker_info[speaker_info['profession'].isna()].shape

(42, 5)

In [187]:
# Identify speakers missing profession
missing_profession_df = speaker_info[speaker_info['profession'].isna()]

missing_profession_list = missing_profession_df['speaker'].tolist()
missing_profession_index = missing_profession_df.index.tolist()

In [188]:
# Fill in missing profession
update_profession = [
    'writer', 'actor', 'Educator', 'Professor', 'CEO of Right to Start', 
    'CEO of Microsoft', 'Professor', 'Poet', 'spiritual leader', 'Attorney',
    'Finance', 'Educator', 'Biologist', 'Tech (Cisco)', 'Environmental diplomat',
    'Pulitzer Prize winner author', 'Professor', 'Professor', 'Student', 'Tech (Instagram)',
    'spiritual (pastor)', 'Educator', 'Finance (investor)', 'Finance (investor)', 'Politician',
    'student', 'Culture (911 museum)', 'spiritual (pastor)', 'writer', 'writer',
    '??', 'Tech (Instagram)', 'Tech, educator', 'Tech, educator','Science (NASA)',
    'CEO (NanoHorizons)','writer', 'writer', 'CEO (Coca-cola)', 'CEO (Coca-cola)', 
    'student', 'Judge'
]

speaker_info_allp = speaker_info.copy()
for list_index, df_index in enumerate(missing_profession_index):
    speaker_info_allp['profession'].iloc[df_index] = update_profession[list_index]

In [191]:
# Check again if there's missing profession
speaker_info_allp[speaker_info_allp['profession'].isna()]

Empty DataFrame
Columns: [speaker, profession, born, age, origin]
Index: []

In [192]:
# Pickle
speaker_info_allp.to_pickle('../dump/speaker_info_allp')

#### B. Missing born info

In [132]:
speaker_info[speaker_info.speaker == 'JOSE B. GONZALEZ']['born']

27    Born:
Name: born, dtype: object

In [134]:
wrong_born = speaker_info[speaker_info.born == "Born:"]
wrong_born

                    speaker  ...                                   origin
27         JOSE B. GONZALEZ  ...                 San Salvador El Salvador
40             MARIA POPOVA  ...       Born: 1985 (age 36 years) Bulgaria
49            ARI WEINZWEIG  ...                Born: 1956 (age 65 years)
56               JOHN SEELY  ...                                 Utica NY
67              IAN BRENNAN  ...                        Mount Prospect IL
91   ZOKETSU NORMAN FISCHER  ...                          Wilkes-Barre PA
133            MAIRA KALMAN  ...                     Tel Aviv-Yafo Israel
178             STEVE BLANK  ...                              New York NY
197              DAVID COTE  ...                            Manchester NH
198         MAKOTO FUJIMURA  ...                                Boston MA
251            CARL SCHRAMM  ...                              Syracuse NY
283         OMID KORDESTANI  ...                              Tehran Iran
378        ROGER ROSENBLATT  ...  Born: 1940 (age 81 years) United States

[13 rows x 5 columns]

In [149]:
wrong_born['born'] = 2021 - wrong_born['age'].astype(int)

<ipython-input-149-b8d4d5e8d249>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wrong_born['born'] = 2021 - wrong_born['age'].astype(int)

In [150]:
wrong_born

                    speaker  ...                                   origin
27         JOSE B. GONZALEZ  ...                 San Salvador El Salvador
40             MARIA POPOVA  ...       Born: 1985 (age 36 years) Bulgaria
49            ARI WEINZWEIG  ...                Born: 1956 (age 65 years)
56               JOHN SEELY  ...                                 Utica NY
67              IAN BRENNAN  ...                        Mount Prospect IL
91   ZOKETSU NORMAN FISCHER  ...                          Wilkes-Barre PA
133            MAIRA KALMAN  ...                     Tel Aviv-Yafo Israel
178             STEVE BLANK  ...                              New York NY
197              DAVID COTE  ...                            Manchester NH
198         MAKOTO FUJIMURA  ...                                Boston MA
251            CARL SCHRAMM  ...                              Syracuse NY
283         OMID KORDESTANI  ...                              Tehran Iran
378        ROGER ROSENBLATT  ...  Born: 1940 (age 81 years) United States

[13 rows x 5 columns]

In [154]:
speaker_info[speaker_info.born == "Born:"]['born'] = 2021 - speaker_info[speaker_info.born == "Born:"]['age'].astype(int)

<ipython-input-154-55b07002dfa1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  speaker_info[speaker_info.born == "Born:"]['born'] = 2021 - speaker_info[speaker_info.born == "Born:"]['age'].astype(int)

In [157]:
speaker_info[speaker_info.born == "Born:"]['born'] = wrong_born['born']

<ipython-input-157-ce7ff3a7a160>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  speaker_info[speaker_info.born == "Born:"]['born'] = wrong_born['born']

In [158]:
speaker_info[speaker_info.born == "Born:"]

                    speaker  ...                                   origin
27         JOSE B. GONZALEZ  ...                 San Salvador El Salvador
40             MARIA POPOVA  ...       Born: 1985 (age 36 years) Bulgaria
49            ARI WEINZWEIG  ...                Born: 1956 (age 65 years)
56               JOHN SEELY  ...                                 Utica NY
67              IAN BRENNAN  ...                        Mount Prospect IL
91   ZOKETSU NORMAN FISCHER  ...                          Wilkes-Barre PA
133            MAIRA KALMAN  ...                     Tel Aviv-Yafo Israel
178             STEVE BLANK  ...                              New York NY
197              DAVID COTE  ...                            Manchester NH
198         MAKOTO FUJIMURA  ...                                Boston MA
251            CARL SCHRAMM  ...                              Syracuse NY
283         OMID KORDESTANI  ...                              Tehran Iran
378        ROGER ROSENBLATT  ...  Born: 1940 (age 81 years) United States

[13 rows x 5 columns]

## 3. School info from Google
Location (latitude, longitude)

In [12]:
# Create list of speakers
school_list = list(speech_df.school)
len(school_list)

441

In [13]:
def google_school(school):
    
    school = school
    keyword = school + ' coordinate dd'
    school_dict={}
    headers = ["school","coord","latitude","longitude"]

    # Selenium begins
    driver.get("https://www.google.com")
    search_bar = driver.find_element_by_xpath("//input[@name='q'][@type='text']")
    search_bar.clear()
    search_bar.send_keys(keyword)
    #     print(speaker)
    search_bar.send_keys(Keys.RETURN)
    time.sleep(2)

    # Set default value of result
    coord,latitude,longitude = np.nan,np.nan,np.nan

    # Find coordinate decimal degrees
    try:
        coord = driver.find_element_by_xpath("//span[@class='hgKElc']").text
    except:
        pass
    
    
    # Extract latitude and longitude
    try:
        latitude = re.findall('[-+]?\d*\.?[-+]?\d+', coord)[0]
        longitude = re.findall('[-+]?\d*\.?[-+]?\d+', coord)[1]
    except:
        pass

    school_dict = dict(zip(headers,
                [school,coord,latitude,longitude]))

    return school_dict

In [19]:
# Scrape
results_school = []
for school in school_list:
    result = google_school(school)
    results_school.append(result)

In [20]:
# Pickle scrape results
import pickle

with open('../dump/school_info_list.pkl', 'wb') as f:
    pickle.dump(results_school, f)

In [21]:
# Create DataFrame of speaker_info
school_info = pd.DataFrame(results_school)
school_info.drop(columns=['coord'],inplace=True)
school_info

                            school latitude  longitude
0     Univ. of Southern California  34.0205  -118.2856
1                Tulane University  29.9353   -90.1227
2                  OBERLIN COLLEGE  41.2929   -82.2186
3                DREXEL UNIVERSITY  39.9564   -75.1887
4             HAMILTON HOLT SCHOOL      NaN        NaN
..                             ...      ...        ...
436  WHITE NORTHWESTERN UNIVERSITY      NaN        NaN
437          OGLETHORPE UNIVERSITY      NaN        NaN
438                            USC  34.0205  -118.2856
439     EMERSON HARVARD UNIVERSITY      NaN        NaN
440                                     NaN        NaN

[441 rows x 3 columns]

In [22]:
# Pickle
school_info.to_pickle('../dump/school_info')

In [58]:
# Examine missing values
missing_schools = school_info[school_info.latitude.isna()==True].school

In [59]:
len(missing_schools)

116

In [60]:
missing_schools

4               HAMILTON HOLT SCHOOL
6                           Darmouth
18               Agnes Scott College
24           Macaulay Honors College
25                              SCAD
                   ...
435         CATT SWEET BRIAR COLLEGE
436    WHITE NORTHWESTERN UNIVERSITY
437            OGLETHORPE UNIVERSITY
439       EMERSON HARVARD UNIVERSITY
440
Name: school, Length: 116, dtype: object

In [82]:
def google_school_2(school):
    """Get coordinates from google map url"""
    
    keyword = school
    school_dict={}
    headers = ["school","coord","latitude","longitude"]

    # Scrape google map for dd coord
    driver.get("https://www.google.com/maps")
    search_bar = driver.find_element_by_xpath("//input[@name='q'][@id='searchboxinput']")
    search_bar.clear()
    search_bar.send_keys(keyword)
    #     print(speaker)
    search_bar.send_keys(Keys.RETURN)
    time.sleep(5)

    coord,latitude,longitude = np.nan,np.nan,np.nan
    try:
        url = driver.current_url
        coord = re.findall('@[-+]?\d+\.?\d+,[-+]?\d+\.?\d+',url)
        latitude = coord[0].split(',')[0].lstrip('@')
        longitude = coord[0].split(',')[1]
    except:
        pass

    school_dict = dict(zip(headers,
                           [school,coord,latitude,longitude]))

    return school_dict

In [89]:
# Scrape
results_school_2 = []
for school in missing_schools:
    result = google_school_2(school)
    results_school_2.append(result)

In [90]:
# Pickle scrape results
import pickle

with open('../dump/school_info_list_2.pkl', 'wb') as f:
    pickle.dump(results_school_2, f)

In [12]:
import pickle
with open('../dump2/school_info_list_2.pkl', 'rb') as f:
    results_school_2 = pickle.load(f)

In [13]:
second_scrape = pd.DataFrame(results_school_2)

In [77]:
url = driver.current_url
url

'https://www.google.com/maps/place/Rollins+College+Hamilton+Holt+School/@28.5933647,-81.353002,17z/data=!3m1!4b1!4m5!3m4!1s0x88e7701ab5a84721:0x8e4f3b62db046783!8m2!3d28.5933647!4d-81.353002'

In [67]:
coord = re.findall('@[-+]?\d+\.?\d+,[-+]?\d+\.?\d+',url)

In [70]:
coord[0]

'@28.5933647,-81.353002'

In [72]:
latitude = coord[0].split(',')[0].lstrip('@')
longitude = coord[0].split(',')[1]
latitude, longitude

('28.5933647', '-81.353002')

### Let's step back and examine the situation

In [14]:
import pandas as pd
speech_df_speaker = pd.read_pickle('../dump/speech_df_speaker')
school_info = pd.read_pickle('../dump/school_info')

In [15]:
import pickle
with open('../dump2/school_info_list_2.pkl', 'rb') as f:
    results_school_2 = pickle.load(f)

In [16]:
second_scrape = pd.DataFrame(results_school_2)

In [17]:
speech_df_speaker

,speaker,profession,born,age,origin,category,year,school,transcript,length,age_then
0,SIDDHARTHA MUKHERJEE,American-Indian physician,1970,50,New Delhi India,Med/Law,2018,Univ. of Southern California,I wish someone had told me at my own commenc...,14487,48
1,JESMYN WARD,American novelist,1977,43,De Lisle MS,Publish,2018,Tulane University,Persist. Be patient. Be well. Good morning....,14063,41
2,DAVID SEDARIS,American humorist,1956,64,Johnson City NY,Entertainment,2018,OBERLIN COLLEGE,"Thank you so much for having me, and for prese...",10587,62
3,NIGHT SHYAMALAN,American-Indian filmmaker,1970,50,Mahé India,Entertainment,2018,DREXEL UNIVERSITY,\nwhat's up dragons alright let's start\n\nwit...,26406,48
4,TERRY TEACHOUT,American author,1955,65,Cape Girardeau MO,Publish,2018,HAMILTON HOLT SCHOOL,"I’m supposed to keep it short, and I approve o...",6288,63
...,...,...,...,...,...,...,...,...,...,...,...
326,GUIDO CALABRESI,American-Italian judge,1932,88,Milan Italy,Med/Law,1988,CONNECTICUT COLLEGE,It's a particular honor for me to be here at t...,14101,56
327,MEREDITH MONK,American composer,1942,78,New York NY,Art,1985,SARAH LAWRENCE COLLEGE,"President Lichman, members of the faculty, alu...",9255,43
328,MARGARET ATWOOD,Canadian poet,1939,81,Ottawa Canada,Publish,1983,UNIVERSITY OF TORONTO,I am of course overjoyed to be here today in t...,11588,44
329,ALAN ALDA,American actor,1935,85,New York NY,Entertainment,1980,CONNECTICUT COLLEGE,I'm here today for a very special reason.\n\nW...,18161,45
330,GARRISON KEILLOR,American author,1942,78,Anoka MN,Publish,2016,,\n It's an honor to be with so many smart peo...,8063,74

In [18]:
school_info

                            school latitude  longitude
0     Univ. of Southern California  34.0205  -118.2856
1                Tulane University  29.9353   -90.1227
2                  OBERLIN COLLEGE  41.2929   -82.2186
3                DREXEL UNIVERSITY  39.9564   -75.1887
4             HAMILTON HOLT SCHOOL      NaN        NaN
..                             ...      ...        ...
436  WHITE NORTHWESTERN UNIVERSITY      NaN        NaN
437          OGLETHORPE UNIVERSITY      NaN        NaN
438                            USC  34.0205  -118.2856
439     EMERSON HARVARD UNIVERSITY      NaN        NaN
440                                     NaN        NaN

[441 rows x 3 columns]

In [19]:
sss = pd.merge(speech_df_speaker,school_info,on='school',how='left').\
        drop_duplicates(subset=['speaker','year']).reset_index(drop=True)

In [20]:
sss

,speaker,profession,born,age,origin,category,year,school,transcript,length,age_then,latitude,longitude
0,SIDDHARTHA MUKHERJEE,American-Indian physician,1970,50,New Delhi India,Med/Law,2018,Univ. of Southern California,I wish someone had told me at my own commenc...,14487,48,34.0205,-118.2856
1,JESMYN WARD,American novelist,1977,43,De Lisle MS,Publish,2018,Tulane University,Persist. Be patient. Be well. Good morning....,14063,41,29.9353,-90.1227
2,DAVID SEDARIS,American humorist,1956,64,Johnson City NY,Entertainment,2018,OBERLIN COLLEGE,"Thank you so much for having me, and for prese...",10587,62,41.2929,-82.2186
3,NIGHT SHYAMALAN,American-Indian filmmaker,1970,50,Mahé India,Entertainment,2018,DREXEL UNIVERSITY,\nwhat's up dragons alright let's start\n\nwit...,26406,48,39.9564,-75.1887
4,TERRY TEACHOUT,American author,1955,65,Cape Girardeau MO,Publish,2018,HAMILTON HOLT SCHOOL,"I’m supposed to keep it short, and I approve o...",6288,63,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,GUIDO CALABRESI,American-Italian judge,1932,88,Milan Italy,Med/Law,1988,CONNECTICUT COLLEGE,It's a particular honor for me to be here at t...,14101,56,41.3737,-72.1028
327,MEREDITH MONK,American composer,1942,78,New York NY,Art,1985,SARAH LAWRENCE COLLEGE,"President Lichman, members of the faculty, alu...",9255,43,NaN,NaN
328,MARGARET ATWOOD,Canadian poet,1939,81,Ottawa Canada,Publish,1983,UNIVERSITY OF TORONTO,I am of course overjoyed to be here today in t...,11588,44,43.6570,-79.3903
329,ALAN ALDA,American actor,1935,85,New York NY,Entertainment,1980,CONNECTICUT COLLEGE,I'm here today for a very special reason.\n\nW...,18161,45,41.3737,-72.1028
330,GARRISON KEILLOR,American author,1942,78,Anoka MN,Publish,2016,,\n It's an honor to be with so many smart peo...,8063,74,NaN,NaN

In [21]:
remove_missing = sss[~sss.isna().any(axis=1)]
remove_missing.shape

(259, 13)

In [22]:
missing_loc = sss[sss.isna().any(axis=1)]
missing_loc.shape

(72, 13)

In [23]:
fill_missing = pd.merge(missing_loc,second_scrape,on='school',how='left').\
                drop_duplicates(subset=['speaker','year']).reset_index(drop=True)
fill_missing.drop(columns=['latitude_x','longitude_x','coord'],inplace=True)
fill_missing.rename(columns = {'latitude_y':'latitude', 'longitude_y':'longitude'},inplace=True)
fill_missing

,speaker,profession,born,age,origin,category,year,school,transcript,length,age_then,latitude,longitude
0,TERRY TEACHOUT,American author,1955,65,Cape Girardeau MO,Publish,2018,HAMILTON HOLT SCHOOL,"I’m supposed to keep it short, and I approve o...",6288,63,28.5933647,-81.353002
1,TERRY TEACHOUT,American author,1955,65,Cape Girardeau MO,Publish,2011,Hamilton Holt School,"TRANSCRIPT\n Im supposed to keep it short, an...",6383,56,28.5933647,-81.353002
2,MINDY KALING,American actress,1979,41,Cambridge MA,Entertainment,2018,Darmouth,"Good morning to the Class of 2018, the facul...",15391,39,43.7052043,-72.2894965
3,MINDY KALING,American actress,1979,41,Cambridge MA,Entertainment,2014,HARVARD LAW SCHOOL,"Graduates, parents, faculty, this is really su...",12739,35,42.3780901,-71.1188478
4,OPRAH WINFREY,American host,1953,67,Kosciusko MS,Entertainment,2017,Agnes Scott College,You're nothing if you are not the truth. Ex...,1264,64,33.7685056,-84.2945346
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,CARLY FIORINA,American businesswoman,1954,66,Austin TX,Tech/Business,2000,MIT,I'd like to start my remarks this morning with...,17740,46,42.360091,-71.09416
68,CALLIE KHOURI,American television screenwriter,1957,63,San Antonio TX,Publish,1994,SWEET BRIAR COLLEGE,"I'm so happy to be here today. Now, I don't wa...",19940,37,37.5576478,-79.0828644
69,NAOMI WOLF,American author,1962,58,San Francisco CA,Publish,1992,SCRIPPS COLLEGE,Even the best of revolutions can go awry when ...,7773,30,34.1039266,-117.7101745
70,MEREDITH MONK,American composer,1942,78,New York NY,Art,1985,SARAH LAWRENCE COLLEGE,"President Lichman, members of the faculty, alu...",9255,43,40.93459,-73.8455821
71,GARRISON KEILLOR,American author,1942,78,Anoka MN,Publish,2016,,\n It's an honor to be with so many smart peo...,8063,74,34.422784,-119.6938525

In [24]:
ssss = pd.concat([remove_missing,fill_missing],axis=0).reset_index(drop=True)

In [25]:
ssss

,speaker,profession,born,age,origin,category,year,school,transcript,length,age_then,latitude,longitude
0,SIDDHARTHA MUKHERJEE,American-Indian physician,1970,50,New Delhi India,Med/Law,2018,Univ. of Southern California,I wish someone had told me at my own commenc...,14487,48,34.0205,-118.2856
1,JESMYN WARD,American novelist,1977,43,De Lisle MS,Publish,2018,Tulane University,Persist. Be patient. Be well. Good morning....,14063,41,29.9353,-90.1227
2,DAVID SEDARIS,American humorist,1956,64,Johnson City NY,Entertainment,2018,OBERLIN COLLEGE,"Thank you so much for having me, and for prese...",10587,62,41.2929,-82.2186
3,NIGHT SHYAMALAN,American-Indian filmmaker,1970,50,Mahé India,Entertainment,2018,DREXEL UNIVERSITY,\nwhat's up dragons alright let's start\n\nwit...,26406,48,39.9564,-75.1887
4,ABBY WAMBACK,American soccer player,1980,40,Rochester NY,Sport,2018,Barnard College,"Failure is not something to be ashamed of, ...",15866,38,40.8096,-73.9635
...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,CARLY FIORINA,American businesswoman,1954,66,Austin TX,Tech/Business,2000,MIT,I'd like to start my remarks this morning with...,17740,46,42.360091,-71.09416
327,CALLIE KHOURI,American television screenwriter,1957,63,San Antonio TX,Publish,1994,SWEET BRIAR COLLEGE,"I'm so happy to be here today. Now, I don't wa...",19940,37,37.5576478,-79.0828644
328,NAOMI WOLF,American author,1962,58,San Francisco CA,Publish,1992,SCRIPPS COLLEGE,Even the best of revolutions can go awry when ...,7773,30,34.1039266,-117.7101745
329,MEREDITH MONK,American composer,1942,78,New York NY,Art,1985,SARAH LAWRENCE COLLEGE,"President Lichman, members of the faculty, alu...",9255,43,40.93459,-73.8455821
330,GARRISON KEILLOR,American author,1942,78,Anoka MN,Publish,2016,,\n It's an honor to be with so many smart peo...,8063,74,34.422784,-119.6938525

In [26]:
# Check again for any missing values
ssss[ssss.isna().any(axis=1)]

Empty DataFrame
Columns: [speaker, profession, born, age, origin, category, year, school, transcript, length, age_then, latitude, longitude]
Index: []

In [27]:
# Pickle

ssss.to_pickle('../dump/speech_speaker_school')

## Testing section

In [32]:
url = driver.current_url
url

'https://www.google.com/maps/place/Agnes+Scott+College/@33.7685056,-84.2967233,17z/data=!4m12!1m6!3m5!1s0x88f50739ac7ef53b:0xd2d77073183e1d81!2sAgnes+Scott+College!8m2!3d33.7685056!4d-84.2945346!3m4!1s0x88f50739ac7ef53b:0xd2d77073183e1d81!8m2!3d33.7685056!4d-84.2945346'

In [52]:
re.findall('@[-+]?\d+\.?\d+,[-+]?\d+\.?\d+,',url)

['@33.7685056,-84.2967233,']

In [ ]:
'[-+]?\d*\.?[-+]?\d+'

In [94]:
def google_school_test(school):
    
    school = school
    keyword = school + ' coordinate dd'
    school_dict={}
    headers = ["school","coord","latitude","longitude"]

    # Selenium begins
    driver.get("https://www.google.com")
    search_bar = driver.find_element_by_xpath("//input[@name='q'][@type='text']")
    search_bar.clear()
    search_bar.send_keys(keyword)
    #     print(speaker)
    search_bar.send_keys(Keys.RETURN)
    time.sleep(2)

    # Set default value of result
    coord,latitude,longitude = np.nan,np.nan,np.nan

    # Find coordinate decimal degrees
    try:
        coord = driver.find_element_by_xpath("//span[@class='hgKElc']").text
    except:
        pass
    
    
    # Extract latitude and longitude
    try:
        latitude = re.findall('[-+]?\d*\.?[-+]?\d+', coord)[0]
        longitude = re.findall('[-+]?\d*\.?[-+]?\d+', coord)[1]
    except:
        pass
    
    
    if coord is np.nan:
        school_dict = google_school_2(school)
    
    else:
        school_dict = dict(zip(headers,
                [school,coord,latitude,longitude]))

    return school_dict

In [97]:
# Scrape
results_school_3 = []
for school in school_list:
    result = google_school_test(school)
    results_school_3.append(result)

In [102]:
second = pd.DataFrame(results_school_3)

In [99]:
# # Pickle scrape results
# import pickle

# with open('../dump/school_coord_list.pkl', 'wb') as f:
#     pickle.dump(results_school_3, f)

In [103]:
second

,school,coord,latitude,longitude
0,Univ. of Southern California,Latitude: 34.0205 Longitude: -118.2856.,34.0205,-118.2856
1,Tulane University,Latitude: 29.9353 Longitude: -90.1227.,29.9353,-90.1227
2,OBERLIN COLLEGE,Latitude: 41.2929 Longitude: -82.2186.,41.2929,-82.2186
3,DREXEL UNIVERSITY,Latitude: 39.9564 Longitude: -75.1887.,39.9564,-75.1887
4,HAMILTON HOLT SCHOOL,"[@28.5933647,-81.353002]",28.5933647,-81.353002
...,...,...,...,...
436,WHITE NORTHWESTERN UNIVERSITY,"[@34.422784,-119.6938525]",34.422784,-119.6938525
437,OGLETHORPE UNIVERSITY,"[@34.422784,-119.6938525]",34.422784,-119.6938525
438,USC,Latitude: 34.0205 Longitude: -118.2856.,34.0205,-118.2856
439,EMERSON HARVARD UNIVERSITY,"[@34.422784,-119.6938525]",34.422784,-119.6938525
440,,Decimal degrees (DD) express latitude and long...,NaN,NaN

In [106]:
second[second.latitude == '34.422784'].count()

school       46
coord        46
latitude     46
longitude    46
dtype: int64

In [113]:
google_school_test('WHITE NORTHWESTERN UNIVERSITY')

{'school': 'WHITE NORTHWESTERN UNIVERSITY',
 'coord': ['@42.0564594,-87.6774557'],
 'latitude': '42.0564594',
 'longitude': '-87.6774557'}

In [119]:
# Scrape
results_school_4 = []
for school in school_list:
    result = google_school_2(school)
    results_school_4.append(result)

In [120]:
second = pd.DataFrame(results_school_4)

In [121]:
# Pickle scrape results
import pickle

with open('../dump/school_coord_list_2.pkl', 'wb') as f:
    pickle.dump(results_school_4, f)

In [122]:
second

,school,coord,latitude,longitude
0,Univ. of Southern California,"[@34.0413941,-118.2789549]",34.0413941,-118.2789549
1,Tulane University,"[@29.9407282,-90.1225054]",29.9407282,-90.1225054
2,OBERLIN COLLEGE,"[@41.2958696,-82.2232777]",41.2958696,-82.2232777
3,DREXEL UNIVERSITY,"[@39.9566127,-75.1921328]",39.9566127,-75.1921328
4,HAMILTON HOLT SCHOOL,"[@28.5933647,-81.3551907]",28.5933647,-81.3551907
...,...,...,...,...
436,WHITE NORTHWESTERN UNIVERSITY,"[@42.0564594,-87.6774557]",42.0564594,-87.6774557
437,OGLETHORPE UNIVERSITY,"[@33.8761916,-84.3369015]",33.8761916,-84.3369015
438,USC,"[@34.0223519,-118.2873057]",34.0223519,-118.2873057
439,EMERSON HARVARD UNIVERSITY,"[@34.4227029,-119.8164285]",34.4227029,-119.8164285
440,,"[@34.422784,-119.6938525]",34.422784,-119.6938525

In [123]:
second[second.latitude=='34.4227029']

,school,coord,latitude,longitude
439,EMERSON HARVARD UNIVERSITY,"[@34.4227029,-119.8164285]",34.4227029,-119.8164285

In [124]:
second.to_pickle('../dump/school_coord_df')